{% extends "base_generic.html" %}

{% block content %}
  <h1>Local Library Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Dynamic content</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <button type="button" class="btn btn-primary">
      Books <span class="badge badge-light">{{ num_books }}</span>
    </button>
    <button type="button" class="btn btn-success">
      Copies <span class="badge badge-light">{{ num_instances }}</span>
    </button>
    <button type="button" class="btn btn-info">
      Copies Available <span class="badge badge-light">{{ num_instances_available }}</span>
    </button>
    <button type="button" class="btn btn-danger">
      Authors <span class="badge badge-light">{{ num_authors }}</span>
    </button>

  </ul>

  <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}